// mis variables
$primary: #5265E1 ;
$secondary: #FA5959; 
$light: rgb(236, 241, 245);
$font-primary-color:#333;
$font-secondary-color:rgb(167, 166, 166);
$dark:#3a4066;

//variables al tema de bootstrap
$theme-color:(
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,

  //nuevo
  6: $spacer * 3.5,
  7:$spacer * 6.5,
);

//botones
$btn-font-size: .75rem;
$btn-padding-x: 1.75rem;
$btn-padding-y: 0.75rem;
$btn-font-weight: 500;
$black:    #000;

//box shadow
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);

//headings
$headings-font-weight:700;
$font-size-a: .75rem;
$font-weight-a: 600;

//acordion
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$border-color:#dee2e6;

//forms
$input-padding-y:0.75rem;
$input-font-size: $btn-font-size;
$input-color: $font-secondary-color;

@import "node_modules/bootstrap/scss/bootstrap";


p{
    color: $font-secondary-color;
}
button{
    margin: $spacer 0 $spacer*.25 0;
    border: $box-shadow-sm;
}

//      hero
button.button-secondary{
    margin-top: 0px;
    color:white;
}
.azulito{
    // width: 40rem;
    // height: 25rem;
    // background-color: $primary;
    border-radius: 25rem 0 0 25rem;
    // position: absolute;
    // // top: 25rem;
    // // right: -4rem;
    // transform: translate(12rem, 9rem);
    // z-index: -1;
    position: absolute;
    bottom: -5vh;
    right: -15vw;  
    width: 105vw;
    height: 38vh;
    background-color: #536dfe; 
    z-index: -1; 
    transition: all 0.3s ease;
}
.azulito_2{
    // width: 40rem;
    // height: 25rem;
    // background-color: $primary;
    border-radius: 0 25rem 25rem 0;
    // position: absolute;
    // // top: 25rem;
    // // right: -4rem;
    // transform: translate(12rem, 9rem);
    // z-index: -1;
    position: absolute;
    bottom: -10vh;
    left: -15vw;  
    width: 105vw;
    height: 38vh;
    background-color: #536dfe; 
    z-index: -1; 
    transition: all 0.3s ease;
}



//     features
.info{
    width: 46%;
    margin-bottom: 3%;
}
.info-contenido-features{
    width: 95%;
}


// all links
.nav-tabs .nav-link {
    color: $font-secondary-color;
    border: 0px;
    border-bottom: 1px solid lightgray; 
    background-color: transparent;
}
a.link-navbar{
    font-size: $font-size-a;
    font-weight: $font-weight-a;
}

// active link
.nav-tabs .nav-link.active {
    border-bottom: 3px solid $secondary;
}


//      download
.row-de-cartas{
    width: fit-content;
}
.card{
    width: 18rem;
    border: 0px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-install{
    width: -webkit-fill-available;
}

//      faqs
.accordion-flush > .accordion-item:first-child {
    border-top: 1px solid $border-color;
}
.accordion-flush > .accordion-item:last-child{
    border-bottom: 1px solid $border-color;
}
button.accordion-button{
    margin: 0px;
}


//footer
.texto-footer{
    width: 25%;
}
.nav-footer{
    color: $light;
}

@include media-breakpoint-down(md){
    .azulito{
        width: 90%;
        height: 75%;
        bottom: -10px;
        right: -90px;
    }
    .azulito_2{
        width: 90%;
        height: 81%;
        bottom: -10px;
        left: -90px;
    }

    .info{
        width: 100%;
    }

    .nav-tabs .nav-link{
        border-top: 1px solid lightgray; 
    }

    // active link
    .nav-tabs .nav-link.active {
        
        border-bottom: 1px solid lightgray; 
        position: relative;
        }
    
    //linea naranja
    .nav-tabs .nav-link.active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 125px;
        height: 3px;
        background-color: $secondary;
    }
    .more-info{
        display: none;
    }

    
    //footer
    .texto-footer{
        width: 90%;
    }
    

}


//hover
.nav-link:hover, .nav-link:focus{
    color: $secondary;
}
button.btn-primary:hover{
    background-color: white;
    color: $primary;
}
button.btn-secondary:hover{
    background-color: white;
    color: $secondary;
}
button.btn-light:hover{
    background-color: white;
    color: $dark;
}
.accordion-button:hover{
    color: $secondary;
}
.accordion-button:hover{
    box-shadow: none;
}
.accordion-button:not(.collapsed){
    background-color: transparent;
}
.accordion-button:focus{
    box-shadow: none;
}
